In [1]:
!pip install finance-datareader

Collecting finance-datareader
  Using cached finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (4.59.0)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: requests>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: pandas>=0.19.2 in c:\programdata\anaconda3\lib\site-packages (from finance-datareader) (1.2.4)
Collecting requests-file
  Using cached requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1

# 주식 자산 평가

## 주식 평가
* 1. 소유 주식 종가 정보 가져온다.
* 2. 전고점 대비 현재 종가의 변동 비율을 구한다.
* 3. 시각화한다.

In [2]:
import FinanceDataReader as fdr
import pandas as pd

### 미국 주식 불러오기

In [28]:
code='AAPL'
stocks_df = pd.DataFrame()
tmp = fdr.DataReader(code, '2020')
tmp = tmp.rename(columns={'Close':code})
tmp

              AAPL    Open    High     Low       Volume  Change
Date
2020-01-02   75.09   74.06   75.15   73.80  135650000.0  0.0228
2020-01-03   74.36   74.29   75.14   74.13  146540000.0 -0.0097
2020-01-06   74.95   73.45   74.99   73.19  118580000.0  0.0080
2020-01-07   74.60   74.96   75.22   74.37  111510000.0 -0.0047
2020-01-08   75.80   74.29   76.11   74.29  132360000.0  0.0161
...            ...     ...     ...     ...          ...     ...
2021-12-13  175.74  181.12  182.13  175.53  149500000.0 -0.0207
2021-12-14  174.33  175.25  177.74  172.21  132540000.0 -0.0080
2021-12-15  179.30  175.11  179.50  172.31  124330000.0  0.0285
2021-12-16  172.26  179.28  181.14  170.75  148690000.0 -0.0393
2021-12-17  171.14  169.93  173.47  169.69  195920000.0 -0.0065

[496 rows x 6 columns]

In [29]:
stocks_df = pd.concat([stocks_df, tmp[code]], axis=1)
stocks_df

              AAPL
2020-01-02   75.09
2020-01-03   74.36
2020-01-06   74.95
2020-01-07   74.60
2020-01-08   75.80
...            ...
2021-12-13  175.74
2021-12-14  174.33
2021-12-15  179.30
2021-12-16  172.26
2021-12-17  171.14

[496 rows x 1 columns]

In [30]:
code='MSFT'
tmp = fdr.DataReader(code, '2020')
tmp = tmp.rename(columns={'Close':code})
stocks_df = pd.concat([stocks_df, tmp[code]], axis=1)
stocks_df

              AAPL    MSFT
2020-01-02   75.09  160.62
2020-01-03   74.36  158.62
2020-01-06   74.95  159.03
2020-01-07   74.60  157.58
2020-01-08   75.80  160.09
...            ...     ...
2021-12-13  175.74  339.40
2021-12-14  174.33  328.34
2021-12-15  179.30  334.65
2021-12-16  172.26  324.90
2021-12-17  171.14  323.80

[496 rows x 2 columns]

### 여러 종목 불러와 df 만들기

In [32]:
# 

stocks_list = ['AAPL', 'MSFT', 'TSLA', 'NVDA']
stocks_df = pd.DataFrame()
for code in stocks_list:
    tmp = fdr.DataReader(code, '2020')
    tmp = tmp.rename(columns={'Close':code})
    stocks_df = pd.concat([stocks_df, tmp[code]], axis=1)
stocks_df

              AAPL    MSFT    TSLA    NVDA
2020-01-02   75.09  160.62   86.05   59.98
2020-01-03   74.36  158.62   88.60   59.02
2020-01-06   74.95  159.03   90.31   59.27
2020-01-07   74.60  157.58   93.81   59.98
2020-01-08   75.80  160.09   98.43   60.09
...            ...     ...     ...     ...
2021-12-13  175.74  339.40  966.41  281.61
2021-12-14  174.33  328.34  958.51  283.37
2021-12-15  179.30  334.65  975.99  304.59
2021-12-16  172.26  324.90  926.92  283.87
2021-12-17  171.14  323.80  932.57  278.01

[496 rows x 4 columns]

In [33]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 496 entries, 2020-01-02 00:00:00 to 2021-12-17 00:00:00
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    496 non-null    float64
 1   MSFT    496 non-null    float64
 2   TSLA    496 non-null    float64
 3   NVDA    496 non-null    float64
dtypes: float64(4)
memory usage: 19.4+ KB

### ETF 불러오기
* IVV
* SPYG
* VYM

In [34]:
tmp = fdr.DataReader('IVV', '2020')
tmp

             Close    Open    High     Low      Volume  Change
Date
2020-01-02  326.32  324.98  326.32  323.95   4070000.0  0.0095
2020-01-03  323.81  322.53  325.06  322.51   4290000.0 -0.0077
2020-01-06  325.09  321.89  325.14  321.78   4220000.0  0.0040
2020-01-07  324.20  324.46  324.97  323.65   3720000.0 -0.0027
2020-01-08  325.85  324.38  327.21  324.11   3910000.0  0.0051
...            ...     ...     ...     ...         ...     ...
2021-12-13  467.07  470.66  470.94  466.71   8660000.0 -0.0120
2021-12-14  463.77  463.48  466.12  460.61  10300000.0 -0.0071
2021-12-15  471.06  463.83  471.27  461.14   7040000.0  0.0157
2021-12-16  466.74  472.96  473.28  465.17   7860000.0 -0.0092
2021-12-17  462.11  463.52  466.73  460.06   8430000.0 -0.0099

[496 rows x 6 columns]

In [35]:
tmp = fdr.DataReader('SPYG', '2020')
tmp

            Close   Open   High    Low     Volume  Change
Date
2020-01-02  42.50  42.21  42.50  42.11  2200000.0  0.0141
2020-01-03  42.19  42.00  42.40  41.92  2530000.0 -0.0073
2020-01-06  42.39  41.88  42.41  41.84  1730000.0  0.0047
2020-01-07  42.35  42.39  42.48  42.26  9990000.0 -0.0009
2020-01-08  42.62  42.36  42.81  42.32  1720000.0  0.0064
...           ...    ...    ...    ...        ...     ...
2021-12-13  71.68  72.51  72.54  71.62  1910000.0 -0.0114
2021-12-14  70.84  70.92  71.30  70.08  2430000.0 -0.0117
2021-12-15  72.36  70.82  72.41  70.25  3140000.0  0.0215
2021-12-16  70.84  72.59  72.68  70.54  2370000.0 -0.0210
2021-12-17  70.33  70.23  71.05  69.83  3110000.0 -0.0072

[496 rows x 6 columns]

In [36]:
tmp = fdr.DataReader('VYM', '2020')
tmp

             Close    Open    High     Low     Volume  Change
Date
2020-01-02   93.97   94.10   94.14   93.55  1990000.0  0.0028
2020-01-03   93.23   93.15   93.54   92.97  1930000.0 -0.0079
2020-01-06   93.28   92.80   93.30   92.79  2490000.0  0.0005
2020-01-07   92.90   93.08   93.12   92.80   837570.0 -0.0041
2020-01-08   93.14   92.96   93.49   92.86   954000.0  0.0026
...            ...     ...     ...     ...        ...     ...
2021-12-13  109.62  109.96  110.12  109.28  1600000.0 -0.0042
2021-12-14  109.77  109.24  110.28  109.09  1670000.0  0.0014
2021-12-15  110.92  109.89  110.99  109.49  2370000.0  0.0105
2021-12-16  111.71  111.43  112.42  111.31  2430000.0  0.0071
2021-12-17  109.93  111.24  111.32  109.86  1930000.0 -0.0159

[496 rows x 6 columns]

### 국내 주식 불러오기

In [40]:
# 셀트리온 : '068270'
# 삼성전자 : '005930'
# 인선이엔티 : '060150'
# 스튜디오드래곤 : '253450'
# KT : '030200'

stock_dic = {'068270':'셀트리온', '005930':'삼성전자', '060150':'인선이엔티', '253450':'스튜디오드래곤', '030200':'KT'}
stocks_df = pd.DataFrame()
for code in stock_dic.keys():
    name = stock_dic[code]
    tmp = fdr.DataReader(code, '2020')
    tmp = tmp.rename(columns={'Close':name})
    stocks_df = pd.concat([stocks_df, tmp[name]], axis=1)
stocks_df

              셀트리온   삼성전자  인선이엔티  스튜디오드래곤     KT
2020-01-02  176761  55200   8320    81100  26700
2020-01-03  174306  55500   8380    80000  26600
2020-01-06  169887  55500   8380    77300  26400
2020-01-07  174797  55800   8420    81900  26550
2020-01-08  169887  56800   8150    79800  26150
...            ...    ...    ...      ...    ...
2021-12-14  206000  77000  10850    86100  31050
2021-12-15  206500  77600  10850    85500  31100
2021-12-16  206000  77800  10950    88200  31750
2021-12-17  207000  78000  10850    88900  32350
2021-12-20  206000  77100  10700    88300  31950

[488 rows x 5 columns]

## 자산 비율 조정
* 1. 소유한 주식의 비중을 계산한다.
* 2. 시각화 한다.